.card {
    width: 20%;
    height: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}

.card-header {
    padding: 20px;
    height: 10%;
    width: 100%;
    text-align: center;
    /*background-color: black;*/
    border-radius: inherit;
}

.card-body {
    height: 30%;
    width: 100%;
    /*background-color: blueviolet;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: inherit;
}