.wave-text:hover span {
    display: inline-block;
    animation: wave 1s reverse ease-in-out infinite;
}

.wave-text span:nth-child(1) {
    animation-delay: 0.5s;
}
.wave-text span:nth-child(2) {
    animation-delay: 0.7s;
}
.wave-text span:nth-child(3) {
    animation-delay: 0.9s;
}
.wave-text span:nth-child(4) {
    animation-delay: 1.1s;
}
.wave-text span:nth-child(5) {
    animation-delay: 1.3s;
}
.wave-text span:nth-child(6) {
    animation-delay: 1.5s;
}
.wave-text span:nth-child(7) {
    animation-delay: 1.7s;
}
.wave-text span:nth-child(8) {
    animation-delay: 1.9s;
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}